/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");

#arrowLogo {
  position: relative;
  transition: all 0.4s linear;
}

#arrowLogo:hover {
  transform: translateX(25px);
}

#blogContent {
  height: 60px;
  width: 840px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (max-width: 600px) {
  #blogContent {
    width: 300px;
  }
}
#blogCard {
  transition: all 0.3s ease-in-out;
}

#blogCard:hover {
  transform: scale(1.03);
  cursor: pointer;
}

#subTitle {
  margin-bottom: 20px;
  width: 250px;
  border-radius: 50px;
  cursor: pointer;
}

#links {
  padding: 10px;
  margin: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

/* SCROLL TOP  */
.back-to-top .top {
  position: fixed;
  cursor: pointer;
  bottom: 15px;
  right: 15px;
  font-size: 25px;
  color: #ffffff;
  background-color: #7f5af0;
  z-index: 4;
  width: 45px;
  text-align: center;
  height: 45px;
  line-height: 45px;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.back-to-top .top:hover {
  transform: scaleX(1.09);
  color: #ffffff;
  background: #2cb67d;
}
