/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");

#arrowLogo {
  position: relative;
  transition: all 0.4s linear;
}

#arrowLogo:hover {
  transform: translateX(25px);
}

#blogContent {
  height: 60px;
  width: 840px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (max-width: 600px) {
  #blogContent {
    width: 300px;
  }
}
#blogCard {
  transition: all 0.3s ease-in-out;
}

#blogCard:hover {
  transform: scale(1.03);
  cursor: pointer;
}

#subTitle {
  margin-bottom: 20px;
  width: 250px;
  border-radius: 50px;
  cursor: pointer;
}

#links {
  padding: 10px;
  margin: 5px;
  padding-left: 15px;
  padding-right: 15px;
}
