.feed {
  padding-top: 70px;
  padding-bottom: 100px;
}

/* ABOUT ME CSS */
#about {
  background: #1f2937f3;
  color: white;
}

#about span {
  position: relative;
  color: #8b5cf6;
  top: 8px;
  /* font-size: 20px; */
  font-weight: 500;
}

#about h1 {
  /* font-size: 75px; */
  font-weight: 500;
}

#about h2 {
  /* font-size: 69px; */
  font-weight: 500;
  color: #bac6d8;
}

#about p {
  padding-top: 30px;
  font-size: 20px;
  font-weight: 40;
  color: #dce3ec;
}

.btn {
  margin-top: 50px !important;
  padding-bottom: 100px;
  font-weight: 400;
}

/* SKILLS */

#skills #card {
  color: white !important;
}

#users {
  padding-top: 100px;
  padding-bottom: 120px;
}

/* services styling here */
#services {
  padding: 12px;
  padding-top: 60px;
  padding-bottom: 140px;
}

#wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
